# Magisk module build artifacts
*.zip

# My 7-Zip @include file for zipping up the module
include.txt

# Release folders
release_bin/

# OS specific files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.log
